body {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;


}


.navbar {
    width: 100%;
    height: 70px;
    background-color: #d63031;
}

.navbar img {
    width: 50px;
    padding: 10px;
}

.navbar ul {
    display: flex;
    padding-left: 75%;
    margin-left: -80px;
}

.navbar ul li{
    margin-top: -70px;
    margin-left: 40px;
    margin-right: 10px;
    list-style: none;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: 'Passero One', cursive;
}

.navbar a:hover{
    transition: 0.2s;
    color: black;
}

header .opaco {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoopaco video {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    filter: blur(10px);
}

.logovideo img {
    position: absolute;
    width: 600px;
    margin: 100px;
    margin-top: -500px;
    margin-left: 350px;
}

.video {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    top: 115px;
    left: 100px;
    display: block;
    width: 85%;
}

.escolha h1 {
   font-size: 5em; 
   text-align: center;
   margin-top: -100px;
   font-family: 'Kanit', sans-serif;
}

.escolha h5 {
    text-align: center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.campeoes {
    flex-basis: 100%;
    margin-top: 10px;
    margin: 60px 10px;
    max-width: calc(1300px - 40px);
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    font-family: 'Passero One', cursive;
}

.zoom img {
    border-radius: 4px;
    overflow: hidden;
}

.zoom {
    transition: all 0.3s;
}

.zoom:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.campeoes p {
    position: relative;
    height: 50px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.3em;
    background-color: #192a56;
    color: white;
}

.campeoes a {
    text-decoration: none;
}

.campeoes p:hover {
    transition: 0.2s;
    background-color: #364674;
}

footer{
    text-align: center;
    margin-top: -50px;
    padding: 3px;
    background-color: #364674;
    font-size: 0.9em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}
